$themeColors: (
    primary: #0078e7,
    secondary: rgb(66, 184, 221),
    danger: rgb(202, 60, 60),
    success: rgb(28, 184, 65),
    warning: rgb(223, 117, 20),
    info: #bfbfbf
);

$oppositeColors: (
    primary: white,
    secondary: white,
    danger: white,
    success: white,
    warning: white,
    info: white
);

// Text
$textPrimaryColor:                  black;

// Backgrounds
$bodyPrimaryBackground:             #f2f2f2;
$footerPrimaryBackground:           rgb(0,0,0,0.14);
$cardHeaderBackground:              rgb(0,0,0,0.24);
$cardPrimaryBackground:             rgb(0,0,0,0.10);